@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:wght@500&family=Poppins:wght@300;400;500&display=swap');

.navbar-light .navbar-brand {

    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
}

h2,h3{
   font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
}

.nav-item{
    font-family: 'Poppins', sans-serif;
}

.powered-by {
    font-size: 0.67rem;
    color: darkslategray;
}

footer{
    margin: 2em 0;
}

.media.stream-item {
    margin-bottom: 2rem;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: .5em;
}

